// out: ../css/style.css

@import (reference) "mixins.less";

.font_add_mixin("Montserrat ExtraLight", normal, 200, "../fonts/Montserrat-ExtraLight");
.font_add_mixin("Montserrat Light", normal, 300, "../fonts/Montserrat-Light");
.font_add_mixin("Montserrat Regular", normal, 400, "../fonts/Montserrat-Regular");
.font_add_mixin("Raleway Bold", normal, 700, "../fonts/Raleway-Bold");
.font_add_mixin("Raleway ExtraBold", normal, 800, "../fonts/Raleway-ExtraBold");
.font_add_mixin("Raleway Medium", normal, 500, "../fonts/Raleway-Medium");
.font_add_mixin("Raleway Regular", normal, 400, "../fonts/Raleway-Regular");
.font_add_mixin("Raleway SemiBold", normal, 600, "../fonts/Raleway-SemiBold");
.font_add_mixin("Roboto Regular", normal, 400, "../fonts/Roboto-Regular");

@width: 1920px;
@brown: #998675;
@light-brown: #c7b299;
@white: #fff;
@grey: #a3a2a0;

.logo {
  width: 184px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  .logo-svg {
    fill: #fff;
  }

  .logo-txt {
    color: #fff;
    font: 400 34px/1.2 "Raleway Regular";
  }
}

.pres-suggest {
  display: flex;
  background-color: @white;
  justify-content: center;
  align-items: center;

  .pres-suggest-wrap {
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .pres-suggest-fig-svg {
      fill: #555555;
    }

    .pres-suggest-header {
      font: 600 22px/1.2 "Raleway SemiBold";
      color: #555555;
      margin: 25px 0 20px 0;
    }

    .pres-suggest-text {
      text-align: center;
      font: 300 14px/22px "Montserrat Light";
      color: #8c8c8c;
      margin: 0;
    }

    .pres-suggest-text::after {
      content: "";
      display: block;
      width: 70px;
      margin: 30px auto 0 auto;
      border-bottom: 3px solid #f1eee9;
    }
  }
}

@media screen and (min-device-width: 481px) {

  body {
    padding: 0;
    width: @width;
    margin: 0 auto;
  }

  .header {
    width: 100%;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0 0 0;

    .logo {
      margin: 0 220px 0 376px;
    }

    .logo:hover .logo-svg {
      fill: @brown;
    }

    .logo:hover .logo-txt {
      color: @brown;
    }

    .logo:active .logo-svg {
      fill: @white;
    }

    .logo:active .logo-txt {
      color: @white;
    }

    .menu {
      display: flex;
      align-items: center;

      .menu-list {
        list-style-type: none;
        display: flex;
        width: 640px;
        justify-content: space-between;
        margin: 0 60px 0 0;

        li a {
          text-decoration: none;
          color: @white;
          font: 300 14px/1.2 "Montserrat Light";
        }

        li a:hover {
          color: @brown;
        }
      }

      .menu-basket {
        width: 18px;
        min-height: 24px;
        background-image: url(../img/icon-basket.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: transparent;
        border: none;
        margin: 0 25px 0 0;
      }

      .menu-form-search {
        width: 24px;
        height: 24px;
        background-image: url(../img/icon-search.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        background-color: transparent;
        border: none;
      }

      .menu-form-search:focus {
        width: 200px;
        transition: width 1s ease-out;
        outline: none;
        padding: 2px 26px 2px 5px;
        font: 300 16px/24px "Montserrat Light";
        color: @white;
      }

      .menu-form-search::-webkit-search-decoration,
      .menu-form-search::-webkit-search-cancel-button,
      .menu-form-search::-webkit-search-results-button,
      .menu-form-search::-webkit-search-results-decoration {
        display: none;
      }

      //Отключает крестик в Chrome
      .menu-form-search::-ms-clear {
        display: none;
        width: 0;
        height: 0;
      }

      .menu-form-search::-ms-reveal {
        display: none;
        width: 0;
        height: 0;
      }

      //Отключает крестик в IE
    }

    .slider {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      margin: 270px 0 0 0;

      .slider-leftbut {
        opacity: 0.502;
        fill: @grey;
        margin: 100px 0 0 0;
      }

      .slider-leftbut:hover {
        fill: @brown;
      }

      .slider-leftbut:active {
        fill: @grey;
      }

      .slider-descr {
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 325px 0;

        .slider-descr-header2 {
          font: 500 36px/1.2 "Raleway Medium";
          color: @white;
          margin: 0 0 18px 0;
          padding: 0;
        }

        .slider-descr-header1 {
          font: 800 52px/1.2 "Raleway ExtraBold";
          color: @white;
          margin: 0 0 20px 0;
          padding: 0;
        }

        .slider-descr-text {
          font: 300 16px/24px "Montserrat Light";
          color: @white;
          text-align: center;
          margin: 0 0 50px 0;
          padding: 0;
        }

        .slider-descr-button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 170px;
          min-height: 50px;
          border-radius: 3px;
          background-color: @brown;
          text-decoration: none;
          font: 800 14px/23px "Raleway ExtraBold";
          text-transform: uppercase;
          color: @white;
        }

        .slider-descr-button:hover {
          background-color: @white;
          color: @brown;
        }

        .slider-descr-button:active {
          background-color: @brown;
          color: @white;
        }
      }

      .slider-rightbut {
        opacity: 0.502;
        fill: @grey;
        margin: 100px 0 0 0;
      }

      .slider-rightbut:hover {
        fill: @brown;
      }

      .slider-rightbut:active {
        fill: @grey;
      }

      .pagination {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0 0 40px 0;

        .pagination-link {
          width: 8px;
          min-height: 8px;
          background-color: #9c9b9a;
          margin: 0 10px 0 0;
          border-radius: 5px;
          border: 2px solid transparent;
        }

        .pagination-link:hover {
          border: 2px solid @brown;
          background-color: transparent;
          transform: scale(1.3);
        }

        .pagination-link:active {
          background-color: @brown;
        }
      }
    }

    .mobile-menu-toogle {
      display: none;
    }

    .mobile-menu {
      display: none;
    }
  }

  .main {
    width: 100%;
    margin: 0 auto;
  }

  .pres {
    .pres-suggest {
      .pres-suggest-wrap {
        margin: 75px 15px 80px 15px;

        .pres-suggest-fig-svg {}

        .pres-suggest-header {}

        .pres-suggest-text {}

        .pres-suggest-text::after {}
      }
    }

    .pres-suggest-wrap:hover .pres-suggest-svg {
      fill: @light-brown;
    }

    .pres-suggest-wrap:hover .pres-suggest-header {
      color: @light-brown;
    }

    .pres-suggest-wrap:hover .pres-suggest-text::after {
      border-bottom: 3px solid @light-brown;
    }

    .pres-promo {
      width: 100%;
      background-image: url(../img/pres-bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      padding: 80px 0 520px 0;

      .pres-promo-header {
        width: 100%;
        margin: 0 0 25px 0;
        text-align: center;
        font: 600 30px/1.2 "Raleway SemiBold";
        color: #555555;
      }

      .pres-promo-text {
        width: 760px;
        margin: 0 auto 0 auto;
        text-align: center;
        font: 300 16px/28px "Montserrat Light";
        color: #8c8c8c;
      }
    }
  }

  .purchase {
    width: 100%;
    padding: 50px 375px 50px 375px;
    box-sizing: border-box;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);

    .purchase-wrapper {
      float: left;
      margin: 0 460px 0 0;
    }

    .purchase-header {
      font: 400 28px/1.2 "Raleway Regular";
      color: @white;
      padding: 0;
      margin: 0;
      width: 540px;

      .purchase-header-color {
        color: #c7b299;
      }
    }

    .purchase-text {
      width: 540px;
      margin: 0;
      padding: 0;
      font: 300 18px/1.2 "Montserrat Light";
      color: #615855;
    }

    .purchase-button {
      display: flex;
      width: 170px;
      min-height: 50px;
      border-radius: 3px;
      background-color: @brown;
      color: @white;
      font: 800 14px/23px "Raleway ExtraBold";
      text-transform: uppercase;
      text-decoration: none;
      justify-content: center;
      align-items: center;
    }

    .purchase-button:hover {
      background-color: @white;
      color: @brown;
    }

    .purchase-button:active {
      background-color: @brown;
      color: @white;
    }
  }

  .purchase::after {
    content: "";
    display: block;
    clear: both;
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 200px 0 200px;

    .projects-header {
      font: 600 30px/1.2 "Raleway SemiBold";
      color: #555555;
      margin: 75px 0 20px 0;
      padding: 0;
    }

    .projects-text {
      font: 300 16px/28px "Montserrat Light";
      color: #8c8c8c;
      margin: 0 0 35px 0;
      padding: 0;
    }

    .projects-menu {
      .projects-menu-but {
        font: 300 14px/21px "Montserrat Light";
        color: #8c8c8c;
        border: 1px solid #ebebeb;
        background-color: transparent;
        padding: 5px 15px 5px 15px;
        margin: 0 5px 40px 5px;
        outline: none;
      }

      .projects-menu-but:hover {
        background-color: @brown;
        color: #fff;
      }

      .projects-menu-but:active {
        background-color: transparent;
        color: @brown;
      }
    }

    .projects-articles {
      width: 1200px;
      display: flex;
      flex-wrap: wrap;

      .projects-articles-one {
        width: 370px;
        background-color: #fbfaf8;
        position: relative;
        padding: 0 0 25px 0;
        margin: 0 15px 30px 15px;

        .projects-articles-one-img {}

        .projects-articles-one-header {
          font: 500 20px/1.2 "Raleway Medium";
          color: #c7b299;
          margin: 25px 0 6px 30px;
          padding: 0;
        }

        .projects-articles-one-text {
          font: 300 14px/20px "Montserrat Light";
          color: #d1d1d1;
          margin: 0 0 0 30px;
          padding: 0;
        }

        .projects-articles-one-lock-link {
          display: none;
          position: absolute;
          top: 120px;
          left: 127px;
        }

        .projects-articles-one-search-link {
          display: none;
          position: absolute;
          top: 120px;
          left: 201px;
        }

        .projects-articles-one-lock {
          fill: #ffffff;
        }

        .projects-articles-one-search {
          fill: #ffffff;
        }

        .projects-articles-one-lock:hover {
          fill: #a39482;
        }

        .projects-articles-one-search:hover {
          fill: #a39482;
        }
      }

      .projects-articles-one:before {
        content: "";
        display: block;
        position: absolute;
        top: 217px;
        left: 20px;
        border: 10px solid transparent;
        border-bottom: 10px solid #fbfaf8;
      }

      .projects-articles-one:hover {
        background-color: #362f2d;

        .projects-articles-one-header {
          color: @brown;
        }

        .projects-articles-one-text {
          color: @white;
        }

        .projects-articles-one-search-link {
          display: block;
        }

        .projects-articles-one-lock-link {
          display: block;
        }
      }

      .projects-articles-one:hover:before {
        border-bottom: 10px solid #362f2d;
      }
    }

    .projects-loadbutt {
      width: 170px;
      min-height: 50px;
      background-color: @brown;
      border-radius: 3px;
      font: 800 14px/23px "Raleway ExtraBold";
      color: @white;
      text-transform: uppercase;
      outline: none;
      margin: 8px 0 80px 0;
    }

    .projects-loadbutt:hover {
      background-color: @white;
      color: @brown;
    }

    .projects-loadbutt:active {
      background-color: @brown;
      color: @white;
    }
  }

  .videopres {
    width: 100%;
    min-height: 705px;
    position: relative;

    .videopres-video {
      position: absolute;
      width: 100%;
      object-fit: fill;
      height: 100%;
      top: 0;
      left: 0;
    }

    .videopres-info {
      position: absolute;
      left: 36%;
      top: 210px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .videopres-info-btn {
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        border: none;
        background-color: rgba(0, 0, 0, 0.2);

        .videopres-info-btn-svg {
          fill: #fff;
        }
      }

      .videopres-info-header {
        font: 500 30px/1.2 "Raleway Medium";
        color: #fff;
        margin: 40px 0 20px 0;
        padding: 0;
      }

      .videopres-info-text {
        font: 300 16px/28px "Montserrat Light";
        color: #fff;
        width: 560px;
        text-align: center;
        margin: 0 0 25px 0;
        padding: 0;
      }

      .videopres-info-time {
        font: 400 14px/24px "Montserrat Regular";
        color: @light-brown;
      }
    }
  }

  .mobile {
    width: 100%;
    margin: 0;
    padding: 200px 380px 0 825px;
    box-sizing: border-box;
    background-image: url(../img/mobile-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .mobile-wrapper {
      min-height: 500px;

      .mobile-header {
        font: 600 30px/1.2 "Raleway SemiBold";
        color: #555555;
      }

      .mobile-text {
        font: 300 16px/28px "Montserrat Light";
        color: #8c8c8c;
      }

      .mobile-details {
        .mobile-details-summary {
          font: 300 16px/32px "Montserrat Light";
          color: #8c8c8c;
        }

        .mobile-details-text {
          font: 300 16px/32px "Montserrat Light";
          color: #8c8c8c;
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  .stats {
    width: 100%;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    padding: 70px 500px 60px 500px;
    box-sizing: border-box;

    .stats-wrapper {
      display: flex;
      justify-content: space-between;

      .stats-one {
        display: flex;
        flex-direction: column;
        align-items: center;

        .stats-one-svg {
          fill: @light-brown;
        }

        .stats-one-number {
          font: 200 48px/36px "Montserrat ExtraLight";
          color: @white;
          margin: 25px 0 10px 0;
        }

        .stats-one-text {
          font: 300 14px/20px "Montserrat Light";
          color: @light-brown;
          margin: 0 0 30px 0;
        }
      }

      .stats-one::after {
        content: "";
        width: 30px;
        border-bottom: 2px solid @white;
      }
    }
  }

  .posts {
    width: 100%;
    box-sizing: border-box;
    padding: 80px 375px 80px 375px;

    .posts-header {
      font: 600 30px/1.2 "Raleway SemiBold";
      color: #555555;
      width: 100%;
      text-align: center;
      margin: 0 0 20px 0;
      padding: 0;
    }

    .posts-text {
      font: 300 16px/28px "Montserrat Light";
      color: #8c8c8c;
      width: 760px;
      margin: 0 auto 30px auto;
      text-align: center;
      padding: 0;
    }

    .posts-wrapper {
      display: flex;
      justify-content: space-between;

      .posts-article {
        width: 370px;
        border: 1px solid #f8f8f8;
        position: relative;
        padding: 0 0 28px 0;

        .posts-article-header {
          font: 500 20px/1.2 "Raleway Medium";
          color: #555555;
          margin: 25px 0 0 25px;
          padding: 0;
        }

        .posts-article-text {
          font: 300 14px/22px "Montserrat Light";
          color: #8c8c8c;
          margin: 12px 0 20px 25px;
          padding: 0;
        }

        .posts-article-link {
          text-decoration: none;
          font: 300 14px/20px "Montserrat Light";
          color: @light-brown;
          margin: 0 0 0 25px;
          padding: 0;
        }

        .posts-article-link:after {
          content: "";
          display: inline-block;
          border: 5px solid transparent;
          border-left: 5px solid @light-brown;
          margin: 0 0 0 8px;
        }

        .posts-article-pagination {
          position: absolute;
          bottom: 200px;
          display: flex;
          width: 100%;
          justify-content: center;
          margin: 0;

          .posts-article-pagination-link {
            width: 8px;
            min-height: 8px;
            background-color: #ffffff;
            opacity: 0.3;
            margin: 0 10px 0 0;
            border-radius: 5px;
            border: 2px solid transparent;
          }
        }

        .posts-article-pagination-link:hover {
          border: 2px solid @brown;
          background-color: transparent;
          transform: scale(1.3);
          opacity: 1;
        }

        .posts-article-pagination-link:active {
          background-color: @brown;
          opacity: 1;
        }

        .posts-article-date {
          position: absolute;
          top: 20px;
          left: 20px;

          .posts-article-date-number {
            font: 300 24px/20px "Montserrat Light";
            color: #fff;
            display: block;
            width: 50px;
            min-height: 35px;
            background-color: #363636;
            border-radius: 3px 3px 0 0;
            text-align: center;
            padding: 8px 0 8px 0;
            box-sizing: border-box;
          }

          .posts-article-date-month {
            font: 400 12px/20px "Roboto Regular";
            color: #fff;
            display: block;
            width: 50px;
            min-height: 25px;
            background-color: #252525;
            border-radius: 0 0 3px 3px;
            text-align: center;
            padding: 5px 0 5px 0;
            box-sizing: border-box;
          }
        }
      }

      .posts-article:hover {
        background-color: #362f2d;

        .posts-article-img {
          opacity: 0.5;
        }

        .posts-article-header {
          color: @light-brown;
        }

        .posts-article-date-number {
          background-color: @light-brown;
        }

        .posts-article-date-month {
          background-color: #a48d72;
        }
      }
    }

    .posts-control {
      width: 100%;
      text-align: center;
      margin: 40px 0 0 0;

      .posts-control-left {
        display: inline-block;

        .posts-control-left-svg {
          fill: #d1d1d1;
        }
      }

      .posts-control-left:hover {
        .posts-control-left-svg {
          fill: @light-brown;
        }
      }

      .posts-control-right {
        display: inline-block;

        .posts-control-right-svg {
          fill: #d1d1d1;
        }
      }

      .posts-control-right:hover {
        .posts-control-right-svg {
          fill: @light-brown;
        }
      }
    }
  }

  .partners {
    width: 100%;
    box-sizing: border-box;
    background-image: url(../img/partners-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 140px 400px 140px 400px;

    .partners-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .widgets {
    background-color: #191919;
    width: 100%;
    display: flex;
    padding: 80px 375px 80px 375px;
    box-sizing: border-box;
    justify-content: space-between;

    .widgets-info {
      width: 270px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .widgets-info-logo-link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin: 0 0 20px 0;

        .widgets-info-logo-svg {
          fill: #fff;
        }

        .widgets-info-logo-text {
          color: #fff;
          font: 400 34px/1.2 "Raleway Regular";
        }
      }

      .widgets-info-logo-link:hover .widgets-info-logo-svg {
        fill: @brown;
      }

      .widgets-info-logo-link:hover .widgets-info-logo-text {
        color: @brown;
      }

      .widgets-info-logo-link:active .widgets-info-logo-svg {
        fill: @white;
      }

      .widgets-info-logo-link:active .widgets-info-logo-text {
        color: @white;
      }

      .widgets-info-text {
        font: 300 14px/24px "Montserrat Light";
        color: #555555;
        padding: 0;
        margin: 0 0 28px 0;
      }

      .widgets-info-link {
        text-decoration: none;
        font: 400 14px/20px "Montserrat Regular";
        color: #d1d1d1;
      }

      .widgets-info-link:after {
        content: "";
        display: inline-block;
        border: 5px solid transparent;
        border-left: 5px solid @white;
        margin: 0 0 0 8px;
      }
    }

    .widgets-posts {
      width: 270px;

      .widgets-posts-header {
        font: 700 24px/1.2 "Raleway Bold";
        color: @white;
      }

      .widgets-posts-one {
        .widgets-posts-one-date {
          font: 300 12px/20px "Montserrat Light";
          color: #363636;
        }

        .widgets-posts-one-text {
          font: 300 14px/20px "Montserrat Light";
          color: #555555;
        }
      }

      .widgets-posts-one:hover {
        .widgets-posts-one-date {
          color: @white;
        }

        .widgets-posts-one-text {
          color: @light-brown;
        }
      }
    }

    .widgets-twitter {
      width: 270px;

      .widgets-twitter-header {
        font: 700 24px/1.2 "Raleway Bold";
        color: @white;
      }

      .widgets-twitter-one {
        .widgets-twitter-one-text {
          font: 300 14px/20px "Montserrat Light";
          color: #555555;
        }

        .widgets-twitter-one-date {
          font: 300 12px/20px "Montserrat Light";
          color: #363636;
        }
      }

      .twitter-author {
        color: #00bff3;
      }

      .twitter-hashtag {
        color: #00bff3;
      }

      .twitter-link {
        color: #959595;
        text-decoration: none;
      }
    }

    .dribbble-widget {
      width: 280px;

      .dribbble-widget-header {
        font: 700 24px/1.2 "Raleway Bold";
        color: @white;
      }
    }
  }

  .footer {
    font: 300 13px/20px "Montserrat Light";
    color: #555555;
    background-color: #111111;
    padding: 40px 375px 40px 375px;

    .footer-links {
      float: left;

      .footer-link {
        text-decoration: none;
        font: 300 13px/20px "Montserrat Light";
        color: #555555;
      }

      .grey-color {
        color: #959595;
      }

      .footer-link:hover {
        color: @light-brown;
      }
    }

    .footer-authors {
      float: right;

      .grey-color {
        color: #959595;
      }
    }
  }

  .footer:after {
    content: "";
    display: block;
    clear: both;
  }

}


@media screen and (max-device-width: 480px) {
  body {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .header {
    width: 100%;
    background-image: url(../img/header-bg.jpg);
    background-position: top;
    background-size: auto;
    padding: 20px 10px 20px 10px;
    box-sizing: border-box;

    .logo {
      width: 114px;
      float: left;

      .logo-svg {
        width: 30px;
        height: 30px;
      }

      .logo-txt {
        font: 400 20px/1.2 "Raleway Regular";
      }
    }

    .menu {
      display: none;
    }

    .slider {
      display: none;
    }

    .mobile-menu-toggle {
      display: block;
      width: 30px;
      height: 30px;
      float: right;
      
      input {
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        padding: 0;
        margin: 0;
        z-index: 2;
        opacity: 0;
      }

      .mobile-menu-icon {
        position: relative;
        top: -30px;
        left: 0;

        span {
          display: block;
          width: 30px;
          height: 4px;
          border: 1px solid #fff;
          box-sizing: border-box;
          margin: 5px 0 5px 0;
          background-color: #fff;
          z-index: 1;
        }
      }

      .mobile-menu {
        width: 100%;
        position: absolute;
        top: 60px;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #000;
        visibility: hidden;

        .mobile-menu-elem {
          list-style-type: none;

          li a {
            text-decoration: none;
            color: @white;
            font: 300 14px/1.2 "Montserrat Light";
          }
        }
      }

      input:checked ~ .mobile-menu {
        visibility: visible;
      }

      input:checked ~ .mobile-menu-icon {}
    }

  }

  .header:after {
    content: "";
    display: block;
    clear: both;
  }

  .main {
    .pres {
      padding: 20px 0 0 0;

      .pres-suggest {
        flex-wrap: wrap;

        .pres-suggest-wrap {
          margin: 20px 0 0 0;

          .pres-suggest-fig-svg {}

          .pres-suggest-header {}

          .pres-suggest-text {}

          .pres-suggest-text::after {}
        }
      }

      .pres-promo {
        display: none;
      }
    }

    .purchase {
      display: none;
    }

    .projects {
      display: none;
    }

    .videopres {
      display: none;
    }

    .mobile {
      display: none;
    }

    .stats {
      display: none;
    }

    .posts {
      display: none;
    }

    .partners {
      display: none;
    }

    .widgets {
      display: none;
    }
  }

  .footer {
    display: none;
  }
}
