// out: ../css/style.css

@import (reference) "mixins.less";

.font_add_mixin("Montserrat ExtraLight", normal, 200, "../fonts/Montserrat-ExtraLight");
.font_add_mixin("Montserrat Light", normal, 300, "../fonts/Montserrat-Light");
.font_add_mixin("Montserrat Regular", normal, 400, "../fonts/Montserrat-Regular");
.font_add_mixin("Raleway Bold", normal, 700, "../fonts/Raleway-Bold");
.font_add_mixin("Raleway ExtraBold", normal, 800, "../fonts/Raleway-ExtraBold");
.font_add_mixin("Raleway Medium", normal, 500, "../fonts/Raleway-Medium");
.font_add_mixin("Raleway Regular", normal, 400, "../fonts/Raleway-Regular");
.font_add_mixin("Raleway SemiBold", normal, 600, "../fonts/Raleway-SemiBold");
.font_add_mixin("Roboto Regular", normal, 400, "../fonts/Roboto-Regular");

@width: 1920px;

body {
  margin: 0;
  padding: 0;
}

.header {
  width: @width;
  background-image: url(../img/header-bg.jpg);
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0 0 0;
  .logo {
    width: 184px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 220px 0 376px;
    .logo-svg {
      fill: #fff;
    }
    .logo-txt {
      color: #fff;
      font: 400 34px/1.2 "Raleway Regular";
    }
  }
  .menu {
    display: flex;
    align-items: center;
    .menu-list {
      list-style-type: none;
      display: flex;
      width: 640px;
      justify-content: space-between;
      margin: 0 60px 0 0;
      li {
        color: #fff;
        font: 300 14px/1.2 "Montserrat Light";
      }
    }
    .menu-basket {
      fill: #fff;
      margin: 0 25px 0 0;
    }
    .menu-search {
      fill: #fff;
    }
  }
  .slider {
    .slider-leftbut {
      opacity: 0.502;
      fill: #a3a2a0;
    }
    .slider-descr {
      .slider-descr-header2 {
        font: 500 36px/1.2 "Raleway Medium";
        color: #fff;
      } 
      .slider-descr-header1 {
        font: 800 52px/1.2 "Raleway ExtraBold";
        color: #fff;
      }
      .slider-descr-text {
        font: 300 16px/24px "Montserrat Light";
        color: #fff;
      }
      .slider-descr-button {
        
      }
    }
    .slider-rightbut {
      opacity: 0.502;
      fill: #a3a2a0;
    }
    .pagination {
      .pagination-link {
        
      }
    }
    
  }
}
